body {
	background-color: #3A3A3A;
	overflow: hidden;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3A3A3A), to(#292929) );
	background-image: -webkit-linear-gradient(#3A3A3A, #292929);
	background-image: -moz-linear-gradient(top, #3A3A3A, #292929);
	background-image: -o-linear-gradient(#3A3A3A, #292929);
	background-image: linear-gradient(#3A3A3A, #292929);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3A3A3A', endColorstr='#ff292929', GradientType=0 );
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 30px;
    display: block;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    border: 0;
    -webkit-border-radius: 6px;
}
@-moz-document url-prefix() { 
	body { 
		right: 0 !important;
	}
}

#color{
	position: fixed;
	left: 35%;
	top: 35%;
	width:400px;
	height:200px;
	border-style: solid;
	border-width: 5px;
	background-color:blue;
}

#messages {
	background: #111;
	color: white;
	position: absolute;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 1000px;
}

.hat{
	position: absolute;
	top:-23px;
	margin-left:-30px;
	width:50px;
	height:50px;
	background-size: 30px 20px;
}

#youtube{
	display:none;
}

.noScroll #messages {
	overflow-y: auto;
}

.message{
	position:relative;
	z-index:1;
}

#messages .timestamp,
#messages .message-content {
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000; 
}

/*\
|*|
|*| Font Colors
|*|
\*/

a {
	color: #387BBE;
	cursor: pointer;
}

a:visited {
	color: #9C7BBE;
}

a:hover {
	color: #1ff;
}

.general-message {
	color: rgb(44, 231, 44);
}

.note-message {
	color: #992222;
}

.action-message {
	color: rgba(255, 145, 164, 1);
}
 
.spoken-message .message-content:before,
.note-message .content:before,
.note-message .content:before,
.general-message .content:before,
.action-message .content:before {
	content: '** ';
}

.spoken-message .message-content:after,
.note-message .content:after,
.note-message .content:after,
.general-message .content:after,
.action-message .content:after {
	content: ' **';
}

.spoken-message .content:before,
.spoken-message .content:after {
	content: '"';
}

.personal-message .message-content {
	color: RosyBrown;
	font-weight: bold;
}

.personal-message .message-content:before {
	content: 'Private Message from ';
}

.error-message {
	color: #FF0000;
	font-weight: bold;
}

.message .nick {
	color: #6464C0;
}

.elbot-message,
.elbot-message .nick,
.spoken-message,
.spoken-message .nick {
	font-weight: normal;
	color: rgba(255, 145, 164, 1);
}

.message .from:after {
	content: ' sent you a pm: ';
}

.message .to:before {
	content: 'You sent '
}

.message .to:after {
	content: ' a pm: ';
}

.message .nick:after {
	content: ': ';
}

.spoken-message .nick:after {
	content: ' says ';
}

.elbot-message .nick:after {
	content: ' said to Elbot: ';
}

.elbot-message .content:before,
.elbot-message .content:after {
	content: '"';
}

.timestamp {
	color: #aeaeae;
}

/*\
|*|
|*| Input Box and Submit
|*|
\*/

#input-bar {
	position: absolute;
	background-color: #3A3A3A;
	bottom: 0;
	width: 100%;
	z-index: 2;
}
#input-bar > div {
	padding: 10px;
}

#input-message {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;	/* Firefox, other Gecko */
	box-sizing: border-box;		 /* Opera/IE 8+ */
	display: block;
	width: 100%;
	resize: none;
	height: 28px;
	border: 1px solid #0C0D0E;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #007FFF;
	background: rgba(20, 20, 20, 0.75);
	color: white;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px
		7px 0px inset;
}

#input-message:focus {
	outline: none;
}

#submit-button {
	display: none;
}

/*\
|*|
|*| Message Layout
|*|
\*/

#messages img {
	max-width: 200px;
	max-height: 200px;
}

#bigimg {
	position: fixed;
	top:0;
	right:0;
	max-height:100%;
	max-width:60%;
}
#bigimg  img{
	position: relative;
	max-height: 100%;
	max-width: 100%;
}

#sam{
	position: fixed;
	top:40%;
	left:0;
	font-size: 50px;
	right:0;
}

#marquee {
	position: relative;
	width:95%;
	-webkit-animation: rightThenLeft 15s infinite;
}  

#flashing {
	width:95%;
	-webkit-animation: flash 15s linear;
}

#spookytext{
	text-shadow: 0 0 2px white;
	color: transparent;
}

#neon {
	-webkit-animation: neon1 1.5s ease-in-out alternate;
	-webkit-animation-iteration-count: 20;
}

#spoil{
	background-color:black;
	color:black;
	cursor:default;
}
#spoil:hover{
	color:white;
}

#rotat{
	-webkit-animation: rotate 1.5s ease-in-out alternate;
}

@-webkit-keyframes rotate {
  from {
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  to {
	-ms-transform: rotate(360deg); 
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

@-webkit-keyframes neon1 {
  from {
	text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 15px rgba(255,255,255,1) , 0 0 20px #ff00de , 0 0 70px #ff00de , 0 0 40px #ff00de , 0 0 50px #ff00de ;
	color:#ff00de;
  }
  to {
	text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 15px rgba(255,255,255,1) , 0 0 20px #00ffff , 0 0 70px #00ffff , 0 0 40px #00ffff , 0 0 50px #00ffff ;
	color:#00ffff;
  }
}

@-webkit-keyframes rightThenLeft {

	0%  {left:0%;}
	25%  {left:90%;}
	50%  {left:0%;}
	75%  {left:90%;}
	100% {left:0%;}
	
}

@-webkit-keyframes flash {

	0% {color: #F00;} 
	20% {color: #F90;}
	40% {color: #FF0;}
	60% {color: #0F0;}
	80% {color: #09F;}
	100% {color: #B0F;}
	
}

/*fonts*/

@font-face {
	font-family: "sleek";
	src: url(fonts/sleek.ttf);
}

@font-face {
	font-family: "misha";
	src: url(fonts/misha-font.ttf);
}

/*context menu*/

.data-title {
	border: 0px !important;
}
.category { 
	border: 0px !imporant;
}
.data-title:before {
	content: attr(data-menutitle);
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #3A3A3A;
	padding: 2px;
	border: 0px;

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.data-title LI {
	background-color: #171717;
	border: 0px;
}
.data-title LI.hover, .data-title LI.hover A {
	color: #FFFFFF;
	background-color: #2C2C2C;
}
.data-title contextMenu LI.hover.disabled, .contextMenu LI.hover.disabled A {
        background-color: #171717;
}
.data-title :first-child {
	margin-top: 20px;
	color: #555;
}

.timestamp {
	padding-left: .4em;
	font-size: .8em;
	padding-top: .2em;
	display: inline;
}
#highlightname.timestamp {
	color:gold;
}

.message div,
.message span {
	display: inline;
}

.message {
	padding-left: 15px;
	padding-left: 4.2em;
	text-indent: -4.2em;
	word-wrap: break-word;
}

/*\
|*|
|*| Menu
|*|
\*/

.video-overlay{
	z-index:5;
}

.menu-container {
	position: absolute;
	display:none;
	min-width: 175px;
	min-height: 300px;
	height:300px;
	width: 175px;
	cursor:default;
	background-color:#171717;
	z-index: 2;
	opacity: 0.5;
}

.menu-container:hover {
	opacity: 1.0;
}

.menu-container .footer{
	position: absolute;
	width:100%;
	bottom:0;
	text-align:center;
	margin-bottom:5px;
	display: inline-block;
}

.footer {
	position: absolute;
	width:100%;
	height: 27px;
	bottom:0;
	text-align:center;
	margin-bottom:5px;
	display: inline-block;
}

.menu-container .menu-content {
	overflow-y:auto;
	overflow-x:hidden;
	width: 100%;
	height: 80%;
}

.menu-container .help {
	font: bold italic 20px/20px "Gill Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color:white;
	width:100%;
}

.menu-container .menu {
	white-space: nowrap;
	cursor: pointer;
}

.menu-container,
.menu-container .menu {
	clear: both;
	background-color: #171717;
	border: 5px solid #2C2C2C;
	border-radius:5px;
	box-shadow: 0px 0px 5px black,inset 0px 0px 5px black;
	color: white;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQIW2PU1tb+zwAFHz9+ZGCECYA4/Pz8EAEYB6SQUUZG5j9IBgYAUXoO2P/TRPwAAAAASUVORK5CYII=) repeat;
}

/*\
|*|
|*| Online User List
|*|
\*/

#online-users .category {
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0;
}

#online-users ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#online-users li {
	font-weight: bold;
	margin-bottom:5px;
	text-align: center;
}
#online-users li:hover {
	text-decoration: underline;
}
#X{
	position: absolute;
	right: 5px;
	top: 5px;
	color: white;
	font-weight: bold;
}

#X:hover{
	color:red;
}

/*\
|*|
|*| Autocomplete popup
|*|
\*/

#autocomplete {
	position: absolute;
	bottom: 78px;
	left: 0px;
	width: 100%;
	height: 1.3em;
	display: none;
	color: #eee;
	background: #333;
	z-index:5;
}

#autocomplete>span {
	margin-left: 10px;
}

#autocomplete>span::after {
	content: \", \";
}

#autocomplete>span:last-child::after {
	content: \"\";
}

#autocomplete>span:first-child {
	background: #555;
}

/*\
|*|
|*| Mouse cursors
|*|
\*/

.mouseCursor {
	opacity : .5;
	position: fixed;
	z-index: 0;
}

.mouseCursor .nick {
	margin: 4px 0 0 14px;
	font-size: 9px;
	background-color: black;
	color: white;
	max-width: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
}

.mouseCursor:before {
	content: ' ';
	position: absolute;
	width: 25px;
	height: 25px;
	background: url(img/cursor.png) no-repeat;
}
