@import url(https://fonts.googleapis.com/css?family=Quicksand:300);

html {
    font-family : Droid Sans, sans-serif;
}

body {
    background-color: #3A3A3A;
    overflow: hidden;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3A3A3A),
        to(#292929) );
    background-image: -webkit-linear-gradient(#3A3A3A, #292929);
    background-image: -moz-linear-gradient(top, #3A3A3A, #292929);
    background-image: -o-linear-gradient(#3A3A3A, #292929);
    background-image: linear-gradient(#3A3A3A, #292929);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3A3A3A',
        endColorstr='#ff292929', GradientType=0 );
	cursor: url(img/cursor.cur);
}

#captchaform {
    opacity: 0.0;
    position: absolute;
    top: 50%
    left: 50%
    visibility: hidden;
    z-index: 3;
}

#textfield{
    color: #FFF;
    font-size: 20px;
}

#warning {
    position: absolute;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    visibility: hidden;
}

#fader {
    position:fixed;
    background-color:#000;
    opacity:0.0;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#passanchor {
    position : fixed;
    text-align: center;
    left: 0px;
    top: 0px;
    z-index: 7;
}

#login {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#3A3A3A;
    z-index:10;
}
#panel {
    position:absolute;
    left:50%;
    margin-left:-150px;
    margin-top:200px;
    background-color:rgba(20, 20, 20, 0.75);
    box-shadow:rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px;
    width:400px;
    height:300px;
    color:white;
}
#panel input{
    color:black;
}
#quoteDiv {
    background:#1F1F1F;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.8) inset;
    border: 1px solid #2F2F2F;
    border-radius: 1px;
}
#messages {
    background: #111;
    color: white;
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    overflow-y: shown;
    height: calc(100% - 49px);
}

/*
    custom scrollbar
*/


.scrollbar_default::-webkit-scrollbar{
    width: 10px;
}

.scrollbar_default::-webkit-scrollbar-track {
    background-color:transparent;
}
 
.scrollbar_default::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background:#5F5F5F;
}
/* hats */

.hat{
	position: absolute;
	top:-23px;
	margin-left:-30px;
	width:50px;
	height:50px;
	background-size: 30px 20px;
}

#youtube{
	display:none;
}

.frame{
    position: fixed;
    width:99%;
    height:100%;
}

.red body {
	background-color: #FF0000;
	overflow: hidden;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF0000), to(#800000) );
	background-image: -webkit-linear-gradient(#FF0000, #800000);
	background-image: -moz-linear-gradient(top, #FF0000, #800000);
	background-image: -o-linear-gradient(FF0000, #800000);
	background-image: linear-gradient(FF0000, #800000);
	background-repeat: no-repeat;
}
.spooky #messages {
    background: url('img/2spooky.png') no-repeat center center, url('img/gridbg.png') repeat, url('img/noisebg.gif') repeat #000b11;
}
.bg #messages {
    background: url('img/bg.png') no-repeat center center, url('img/gridbg.png') repeat, url('img/noisebg.gif') repeat #000b11;
}
.bg1 #messages {
	background: url('img/bg1.png') no-repeat center center, url('img/gridbg.png') repeat, url('img/noisebg.gif') repeat #000b11;
}
.bg2 #messages {
	background: url('img/bg2.png') no-repeat center center, url('img/gridbg.png') repeat, url('img/noisebg.gif') repeat #000b11;
}
.bgxmas #messages {
	background: url('img/bgxmas.png') no-repeat center center, url('img/gridbg.png') repeat, url('img/noisebg.gif') repeat #000b11;
}
.original #messages {
	background: url('img/original.png') no-repeat center center, url('img/gridbg.png') repeat, url('img/noisebg.gif') repeat #000b11;
}
.spoops #messages {
	background: url('img/spoops.png') no-repeat center center, url('img/gridbg.png') repeat, url('img/noisebg.gif') repeat #000b11;
}
.logo #messages {
    background: url('img/logo.png') no-repeat center center, url('img/gridbg.png') repeat, url('img/noisebg.gif') repeat #000b11;
}
.spooky2 #messages {
    background: url('img/spooky2.gif') no-repeat center center, url('img/gridbg.png') repeat, url('img/noisebg.gif') repeat #000b11;
}
.water #messages {
    background: url('img/water.gif') repeat center #000b11;
}
.balls #messages {
    background: url('img/balls.gif') repeat center #000b11;
}

.message{
position:relative;
z-index:2;
pointer-events: none;
}

#messages .timestamp,
#messages .message-content {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    pointer-events: auto;
}

/*\
|*|
|*| Font Colors
|*|
\*/

a {
    color: #387BBE;
    cursor: pointer;
}

a:visited {
    color: #9C7BBE;
}

a:hover {
    color: #1ff;
}

.general-message {
    color: rgb(44, 231, 44);
}

.note-message {
	color: #992222;
}

.alert-message {
    color: #2379DB;
}

.passive-message {
    color: #4DC1CF;
}

.action-message {
    color: rgba(102, 178, 255, 1);
}
 
.spoken-message .message-content:before,
.note-message .content:before,
.note-message .content:before,
.general-message .content:before,
.action-message .content:before,
.passive-message .content:before{
    content: '** ';
}

.spoken-message .message-content:after,
.note-message .content:after,
.note-message .content:after,
.general-message .content:after,
.action-message .content:after,
.passive-message .content:after{
    content: ' **';
}

.spoken-message .content:before,
.spoken-message .content:after {
	content: '"';
}

.personal-message .message-content {
    color: RosyBrown;
    font-weight: bold;
}

.personal-message .message-content:before {
	content: '==== ';
}

.error-message {
    color: #FF0000;
    font-weight: bold;
}

.message .nick {
    color: #6464C0;
}

.elbot-message,
.elbot-message .nick,
.spoken-message,
.spoken-message .nick {
	font-weight: normal;
    color: rgba(255, 145, 164, 1);
}

.message .from:after {
	content: ' sent you a pm: ';
}

.message .to:before {
	content: 'You sent '
}

.message .to:after {
	content: ' a pm: ';
}

.message .nick:after {
	content: ' ';
}

.spoken-message .nick:after {
	content: ' says: ';
}

.elbot-message .nick:after {
    content: ' said to Elbot: ';
}

.elbot-message .content:before,
.elbot-message .content:after {
    content: '"';
}

.timestamp {
    color: #aeaeae;
}

/*\
|*|
|*| Input Box and Submit
|*|
\*/
#input-bar {
    position: absolute;
    background-color: #3A3A3A;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
#input-bar > div {
	padding: 10px;
}

#input-message {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    display: block;
    width: -moz-calc(100% - 34px);      /* Firefox */
    width: -webkit-calc(100% - 34px);   /* WebKit */
    width: calc(100% - 34px);           /* Standard */
    resize: none;
    height: 28px;
    border: 1px solid #0C0D0E;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #007FFF;
    background: rgba(20, 20, 20, 0.75);
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 14px;
    font-family: Droid Sans, sans-serif;
    font-weight: normal;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px
        7px 0px inset;
}

#input-message:focus {
    outline: none;
}

#submit-button {
    display: none;
}

/*\
|*|
|*| Message Layout
|*|
\*/

#messages img {
    max-width: 200px;
    max-height: 200px;
}

#bigimg {
position: fixed;
top:0;
right:0;
max-height:100%;
max-width:60%;
}
#bigimg  img{
position: relative;
max-height: 100%;
max-width: 100%;
}

#sam{
position: fixed;
top:40%;
left:0;
font-size: 50px;
right:0;
z-index:1;
}

/* styles */

#marquee {
	position: relative;
	width:95%;
    -webkit-animation: rightThenLeft 15s infinite;
}  

#flashing {
	width:95%;
    -webkit-animation: flash 15s linear;
}

#spookytext{
	text-shadow: 0 0 2px white;
	color: transparent;
}

#neon {
-webkit-animation: neon1 1.5s ease-in-out alternate;
-webkit-animation-iteration-count: 20;
}

#spoil{
background-color:black;
color:black;
cursor:default;
}
#spoil:hover{
color:white;
}

#rotat{
	-webkit-animation: rotate 1.5s ease-in-out alternate;
}

@-webkit-keyframes rotate {
  from {
	-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
	-ms-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes neon1 {
  from {
	text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 15px rgba(255,255,255,1) , 0 0 20px #ff00de , 0 0 70px #ff00de , 0 0 40px #ff00de , 0 0 50px #ff00de ;
    color:#ff00de;
  }
  to {
	text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 15px rgba(255,255,255,1) , 0 0 20px #00ffff , 0 0 70px #00ffff , 0 0 40px #00ffff , 0 0 50px #00ffff ;
    color:#00ffff;
  }
}

@-webkit-keyframes rightThenLeft {

    0%  {left:0%;}
	25%  {left:90%;}
    50%  {left:0%;}
	75%  {left:90%;}
    100% {left:0%;}
	
}

@-webkit-keyframes flash {

	0% {color: #F00;} 
	20% {color: #F90;}
	40% {color: #FF0;}
	60% {color: #0F0;}
	80% {color: #09F;}
	100% {color: #B0F;}
	
}

/*fonts*/

@font-face {
    font-family: "sleek";
    src: url(fonts/sleek.ttf);
}

@font-face {
    font-family: "misha";
    src: url(fonts/misha-font.ttf);
}

/*context menu*/

.data-title:before {
    content: attr(data-menutitle);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #DDD;
    padding: 2px;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.data-title :first-child {
    margin-top: 20px;
}

.timestamp {
    padding-left: .4em;
    font-size: .8em;
    padding-top: .2em;
    display: inline;
}
.highlightname {
color:gold;
}

.message div,
.message span {
    display: inline;
}

.message {
    padding-left: 15px;
    padding-left: 4.2em;
    text-indent: -4.2em;
    word-wrap: break-word;
}

/*\
|*|
|*| Custom Scroll Bar
|*|
\*/

#vertical-scroll-bar {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    margin-right: 3px;
	z-index:20;
}

.shim {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.shim,
#vertical-scroll-bar,
#vertical-scroll-bar .handle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#vertical-scroll-bar .handle {
    position: absolute;
    left: 0;
    width: 100%;
    background: linear-gradient(#5F5F5F, #3A3A3A);
    border-radius: 5px;
    cursor: pointer;
}

/*tabbed menu*/

#tabbed-menu-cotainer{
    position:absolute;
    right:0;
    bottom:5%;
    height:40px;
    width:34px;
    z-index:3;
}

#tabbed-menu{
    z-index:1;
    background-color: #555;
    border-radius: 50px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.2),
	        inset 0px -1px 0px 0px rgba(0,0,0,1), 
	        0px 3px 10px rgba(0,0,0,.9); 
    font-size: 1em;
    line-height:200%;
    font-weight: 600;
    text-align: center;
    color:white;
    cursor:pointer;
    font-family: 'Quicksand';
}
#tabbed-menu:active{
    position:relative;
    top:3px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.2),
	        inset 0px -1px 0px 0px rgba(0,0,0,1), 
	        0px 3px 3px rgba(0,0,0,.2);
}

#user-list{
    position:absolute;
    right:0;
    bottom:50px;
    color:white;
    display:none;
    border-radius:5px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, 
    		rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset, 
    		rgba(255,255,255, .2) 0px -1px 0px 0px;
    border: 4px solid #222;
    font-family: 'Quicksand';
}

.tabbed-list{
    font-size: 1em;
    text-align:center;
    list-style-type: none;
    min-width:120px;
    padding:10px;
    background-color:#171717;
    border-radius:5px;
    cursor:pointer;
}

/*\
|*|
|*| Menu
|*|
\*/

.video-overlay {
  border: 4px solid #222;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, 
  	      inset rgba(0, 0, 0, 1.8) 0 1px 7px 0px, 
  	      rgba(255,255,255, .2) 0px -1px 0px 0px;
  border-radius: 5px;
  z-index: 5;
}
.bottom { /* This is part of the Embedded Video */
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(0, 0, 0, 1.8) 0 1px 7px 0px;
}
.top { /* This is part of the Embedded Video */
    box-shadow: inset rgba(0, 0, 0, 1.8) 0 1px 7px 0px, rgba(255,255,255, .02) 0px -1px 0px 0px;
}

.menu-container {
    position: absolute;
	display:none;
	min-width: 175px;
	min-height: 300px;
	height:300px;
	width: 175px;
	cursor:default;
	background-color:#171717;
    z-index: 3;
	opacity: 0.5;
}

.menu-container:hover {
opacity: 1.0;
}

.menu-container .footer{
	position: absolute;
	width:100%;
	bottom:0;
	text-align:center;
	margin-bottom:10px;
	display: inline-block;
}

.menu-container .menu-content {
	overflow-y:auto;
	overflow-x:hidden;
	height:70%;
	width:100%;
}

.menu-container .help {
	font: bold italic 20px/20px "Gill Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color:white;
	width:100%;
}

.menu-container .menu {
    white-space: nowrap;
    cursor: pointer;
}

.menu-container,
.menu-container .menu {
    clear: both;
    background-color: #171717;
	border: 5px solid #2C2C2C;
	border-radius:5px;
	box-shadow: 0px 0px 5px black,inset 0px 0px 5px black;
    color: white;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQIW2PU1tb+zwAFHz9+ZGCECYA4/Pz8EAEYB6SQUUZG5j9IBgYAUXoO2P/TRPwAAAAASUVORK5CYII=) repeat;
}

/*\
|*|
|*| Online User List
|*|
\*/

#online-users .category {
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    margin:15px;
    border-bottom: 1px solid lightgrey;
}

#online-users ul {
    list-style: none;
    margin: 0;
    margin-right: 30px;
}

#online-users li {
    font-weight: bold;
    margin-bottom:5px;
    text-align: center;
}
#online-users li:hover {
    text-decoration: underline;
}
#X{
position: absolute;
right: 5px;
top: 5px;
color: white;
font-weight: bold;
}

#X:hover{
color:red;
}

/*\
|*|
|*| Autocomplete popup
|*|
\*/

#autocomplete {
    position: absolute;
    bottom: 78px;
    left: 0px;
    width: 100%;
    height: 1.3em;
    display: none;
    color: #eee;
    background: #333;
    z-index:5;
}

#autocomplete>span {
    margin-left: 10px;
}

#autocomplete>span::after {
    content: \", \";
}

#autocomplete>span:last-child::after {
    content: \"\";
}

#autocomplete>span:first-child {
    background: #555;
}

/*\
|*|
|*| Mouse cursors
|*|
\*/

.mouseCursor {
	opacity : .5;
	position: fixed;
	z-index: 1;
}

.mouseCursor .nick {
	margin: 4px 0 0 14px;
	font-size: 9px;
    background-color: black;
    color: white;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.mouseCursor:before {
	content: ' ';
	position: absolute;
	width: 25px;
	height: 25px;
	background: url(img/cursor.png) no-repeat;
}
